*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100vh;
}

body{
    background-color: #0a0a23;
    background-image: url(./imgs/bgInicial.jpg);
    background-position: center;
    background-size: cover;
}

#text{
    background-color: #0a0a23;
    color: #fff;
    padding: 10px;
}

#game{
    position: absolute;
    bottom: 10%;
    left: 30%;
    max-width: 500px;
    max-height: 400px;
    background-color: #fff;
    color: #fff;
    margin: 10em auto 0;
    padding: 10px;
}

#controls, #stats{
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
}

#monsterStats{
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: fff;
    background-color: #c70d0d;
}

.stat{
    padding-right: 10px;
}

button{
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
}